<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h4>Sender Information</h4>
  </div>
</div>
<div class="row" style="margin-bottom: 50px">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.senderInfo.name}}</label></div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.senderInfo.mobileNumber}}</label></div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.senderInfo.address}}</label></div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h4>Reciever Information</h4>
  </div>
</div>
<div class="row" style="margin-bottom: 50px">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.recieverInfo.name}}</label></div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.recieverInfo.mobileNumber}}</label></div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.recieverInfo.address}}</label></div>
</div>



<div class="row">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h4>Delievery Type</h4>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.delieveryType}}</label></div>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h4>Weight</h4>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{data.weight}} gm</label></div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h4>Delievery Charges</h4>
  </div>
</div>
<div class="row" style="margin-bottom: 50px">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12"><label>{{delieveryAmount}} INR</label></div>
</div>
