header{
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    .logo {
        & > a{
         & > img {
            max-width: 100px;
        }   
        }
    }


}

@media screen and (max-width: 768px){
	.col-xs-6{width:50%;}
}