header{
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    .logo {
        & > a{
         & > img {
            max-width: 100px;
        }   
        }
    }


}

@media screen and (max-width: 768px){
	.col-xs-6{width:50%;}
}

.container-wrapper{
	min-height:100vh;	
}
.bg-white{background-color:#fff;}
.color-blue{color:#007bff;}
.color-black{color:#232323;}
.profile{width:100px; height:100px; border-radius:50%; background-color:#eee; position:relative; border:1px solid #ccc; box-shadow:1px 9px 8px -4px #ddd;}
.profile img {width:100%; border-radius:50%; overflow:hidden;}
.m-0{margin:0px;}
.pt-12p{padding-top:12%;}
.p-20{padding:20px;}
.rounded-edge{border-radius:5px; border:1px solid #ccc;}
.mt-15{margin-top:15px;}
.mb-15{margin-bottom:15px;}
.fs-21{font-size:21px;}
.mb-0{margin-bottom:0px;}

@media screen and (max-width: 768px){
	.col-xs-4{width:33.33333%;}
	.mobile-padd-0{padding:0px !important;}
	.profile{width:80px; height:80px;}
}
