<!--Header-->
 <header class="bg-white">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6 text-left"><a href="javascript:void(0);">My App</a></div>
        <div class="col-md-6 col-xs-6 text-right"><a [routerLink]="['/login']" >Login</a></div>
      </div>
  </div>
</header>





<div class="container-fluid text-center pt-12p">
  <div class="row m-0">
    <div class="col-md-4"></div>
    <div class="col-md-4 bg-white p-20 rounded-edge">
      <div class="row">
        <div class="col-md-12">
          <h2 class="color-blue">Welcome</h2>
        </div>
      </div>
      
      <div class="row m-0">
        <div class="col-md-4 col-xs-4"></div>
        <div class="col-md-4 col-xs-4 mobile-padd-0 pl-15 pr-15 mt-15 mb-15"><div class="profile"><img src="" alt=""></div></div>
         
        <div class="col-md-4 col-xs-4"></div>
      </div>

     <!--  <div class="row">
        <div class="col-md-12">
          <p class="color-black fs-21 mb-0">User Id -{{userId}}</p>
        </div>
      </div> -->
      
    </div>
    <div class="col-md-4"></div>
  </div>
</div>