.sidebar {
    background-color: #f3f3f3;
    height: 100vh;
    .list-group {
        .list-group-item {
            position: relative;
            display: block;
            padding: 0.75rem 1.25rem;
            margin-bottom: -1px;
            background-color: transparent;
            border: 1px solid rgba(152, 152, 152, 0.125);
        }
    }
}