
footer {
    background: #fff;
    height: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%
}

footer p {
    margin: 0
}

footer img {
    max-width: 100%
}

footer h3 {
    color: #9f9f9f;
    font-size: 16px;
    font-weight: 100;
    line-height: 27px;
    padding: 15px 0 0
}

footer ul {
    font-size: 12px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7f8c8d
}

footer .footer-menu ul {
    font-size: 16px;
    line-height: 34px
}

footer ul li a {
    padding: 0 0 5px;
    display: block
}

footer a {
    color: #000
}

footer .scroll-to-top {
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2.5px
}

footer a:hover {
    color: #e40000
}

footer.Simplified {
    background: #333;
    color: #fff!important;
    position: relative
}

footer.Simplified [class^=icon-] {
    font-size: 40px;
    margin-right: 20px
}

.bottom-link a {
    padding: 5px 0;
    margin-right: 17px;
    display: inline-block;
    margin-top: 10px;
    color: #707070
}

.bottom-link p.small {
    color: #9f9f9f
}

.supportLi h4 {
    font-size: 20px;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 0!important;
    padding-bottom: 0
}

.social {
    margin-top: 133px
}

.social a {
    color: #666;
    line-height: 32px;
    font-size: 26px
}

.footer-bottom p.pull-left {
    padding-top: 6px
}

footer .social .facebook:hover {
    color: #3b5998
}

footer .social .twitter:hover {
    color: #00aced
}

footer .social .linkedin:hover {
    color: #007bb6
}

footer .social .youtube:hover {
    color: #b00
}
